@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oxygen:wght@300;400;700&display=swap");
@import "tailwindcss";
html {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

.profileImg {
  height: 40%;
  
}
.tagLine {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  /* font-size: 24px; */
}
.nav a {
  font-size: large;
  padding-left: 1rem;
  padding-right: 1rem;
}
.skillsIcons {
  width: 150px;
  height: 150px;
}
.inputField {
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
  min-width: 150px;
  border: 0.2px solid lightgray;
  border-radius: 5px;
}
