@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oxygen:wght@300;400;700&display=swap");
@import "tailwindcss";
html {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}
.hero-sec {
  /* background: linear-gradient(to bottom, #000814 0%, #121a2c 100%); */
}
.profileImg {
  height: 40%;
}

.tagLine {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  /* font-size: 24px; */
  animation: slideLeft 3s ease-in-out;
  animation-delay: 0s;
}
@keyframes slideLeft {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.intro p {
  animation: slideBottom 1.5s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: both;
}
@keyframes slideBottom {
  0% {
    transform: translatey(-20px);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
.projectBtn {
  animation: fadeIn 1s ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav a {
  font-size: large;
  padding-left: 1rem;
  padding-right: 1rem;
}
.skillsIcons {
  width: 150px;
  height: 150px;
}
.inputField {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  font-size: 18px;
  min-width: 50px;
  outline: none;
  border: 0.2px solid gray;
  border-radius: 5px;
}
.inputField:focus {
  border-width: 1px;
  border-color: rgb(249, 115, 22);
}
